:root {
  /* الألوان الأساسية */
  --primary-color: #003366;
  --background-color: #F9FAFB;
  
  /* ألوان البطاقات */
  --card-color: #CCE5FF;
  --card-active-color: #B2D9FF;
  --card-yellow: #FFF3CD;
  --card-green: #D1E7DD;
  --card-red: #F8D7DA;
  
  /* ألوان النصوص أو العناصر الأخرى */
  --white-color: #FFFFFF;
  --green-color: #198754;
  --red-color: #DC3545;

  /*
   مثال على الاستخدام 
  body {
    background-color: var(--background-color);
    color: var(--primary-color);
  }
  */
}


/* ====== Cairo Font Faces ====== */
@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Cairo';
  src: url('../fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}
